<div class="p-5 shadow-lg">

    <div class="flex items-center">

        <div class="w-[5rem] h-[5rem] lg:w-[9rem] lg:h-[9rem]">

            <img class="w-full h-full object-cover object-top" src="https://thehouseofrare.com/cdn/shop/products/IMG_0187_d4b6818c-b41a-4d3f-b6e0-382d8fda60ab_1452x1799.jpg?v=1671639880"
             alt="">

        </div>

        <div class="ml-5 space-y-1">

            <p class="font-semibold">SATIN STRETCH SHIRT</p>
            <p class="text-gray-500">Size: M, Olive Green</p>
            <p class="text-gray-500 mt-2">Seller: JP Trendz</p>

            <div class="space-x-2 items-center pt-3">
                <p class="text-gray-500 line-through">₹1499</p>
                <p class="font-semibold text-lg">₹265</p>
                <p class="to-green-600 font-semibold">82% off</p>

            </div>

        </div>

    </div>

</div>
