<div class="container">

    <div class="grid grid-cols-12 gap-3">

        <div class="col-span-3 lg:col-span-1">

            <div class="w-[3rem] h-[3 rem]">
                <img class="w-full h-full rounded-full"
                    src="https://lh3.googleusercontent.com/proxy/nHEabc7SCtctjaJqTgMq0bb3h_NBj-Bm5gp4qv7RYwUCYg-o6MLuS-27HOPg13TIcq_hbA3VAkG1Qt_MbQdTfisLsYJ8kdoqJwHQP-4URymnMXi1tG7uLlV_jvk"
                    alt="">

            </div>


        </div>

        <div class="col-span-6 lg:col-span-9 pl-2">

            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">CodeWithJash</p>
                    <p class="opacity-70">Jan 21, 2024</p>
                </div>

                <div>
                    <app-star-rating/>
                </div>
                <p>Nice product...loved it!</p>

            </div>

        </div>

    </div>

</div>