<div class="p-5 lg:p-10 mt-10">

    <p class="text-black py-10">product/clothes/women/saree</p>

    <section class="lg:grid grid-cols-3 lg:gap-10">

        <div class="col-span-2 flex items-center flex-col">

            <img class="h-[60%]" src="https://images.meesho.com/images/products/256610660/dakpr_512.webp " alt="">

        </div>

        <div class="bg-white h-[60%]">

            <div class="col-span-1 space-y-1 mt-5 lg:mt-0 p-3">

                <div class="space-y-1">
    
                    <p class="font-semibold text-gray-600 text-lg">Kohsafashion</p>
                    <p class="text-xl">Ethnic Kurta Pajama Women Dress</p>
    
                </div>
    
                <div class="flex items-center space-x-5">
    
                    <p class="text-lg">₹393</p>
                    <p class="text-lg text-gray-700 line-through">₹2999</p>
                    <p class="text-green-400 font-semibold text-lg">80%</p>
    
                </div>
    
                <div class="space-y-1">
    
                    <p class="text-lg font-semibold">size</p>
                    <mat-radio-group class="space-x-5" aria-label="Select an option" [(ngModel)]="selectedSize">
                        <mat-radio-button value="S"><span>S</span></mat-radio-button>
                        <mat-radio-button value="M"><span>M</span></mat-radio-button>
                        <mat-radio-button value="L"><span>L</span></mat-radio-button>
                        <mat-radio-button value="XL"><span>XL</span></mat-radio-button>
                    </mat-radio-group>
    
                </div>
    
                <div>
                    <button style="padding: 1rem;" class="w-full text-white bg-blue-600 rounded"
                        (click)="handleAddToCart()" mat-raised-button>Add To Cart</button>
                </div>
    
                <div class="text-gray-600">
                    <p class="text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel
                        perspiciatis debitis corporis ut quae praesentium perferendis fuga et, unde quis, doloribus soluta
                        quo nulla sint enim magni quidem voluptas.</p>
                    <p class="text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur facilis
                        assumenda, temporibus ratione reprehenderit ad maiores error quae possimus quas dolorem, vel culpa
                        quos laboriosam ipsa magnam? Illo, saepe pariatur.</p>
                </div>
    
            </div>

        </div>

    </section>

    <section class="pt-20 pb-10 px-5 lg:px-20">
        <h1 class="font-semibold text-lg pb-4">Reviews & Ratings</h1>

        <div class="border border-[#1a1a1a] rounded-md p-5">

            <div class="lg:grid grid-cols-12 gap-7">

                <div class="col-span-7">

                    <div class="space-y-5">
                        <div *ngFor="let item of reviews">
                            <app-review-card />
                        </div>
                    </div>



                </div>

                <div class="col-span-5 mt-10 lg:mt-0">

                    <div class="box pl-2">

                        <h1 class="text-xl font-semibold pb-1" >Product Ratings</h1>

                        <div class="flex items-center space-x-3">

                            <app-star-rating/>

                            <p class="opacity-60 pl-1">2342 Ratings</p>

                        </div>
                        <div class="space-y-3">

                            <div>
                                <div class="grid grid-cols-12 justify-around items-center">

                                    <div class="col-span-2">
                                        <span>Excellent</span>

                                    </div>

                                    <div class="col-span-8 px-4">
                                        <mat-progress-bar mode="determinate" value="55"></mat-progress-bar>
                                    </div>
                                    <div class="col-span-2">
                                        <span class="opacity-50">2333</span>

                                    </div>

                                </div>
                            </div>
                            <div>
                                <div class="grid grid-cols-12 justify-around items-center">

                                    <div class="col-span-2">
                                        <span>Very Good</span>

                                    </div>

                                    <div class="col-span-8 px-4">
                                        <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
                                    </div>
                                    <div class="col-span-2">
                                        <span class="opacity-50">2333</span>

                                    </div>

                                </div>
                            </div>
                            <div>
                                <div class="grid grid-cols-12 justify-around items-center">

                                    <div class="col-span-2">
                                        <span>Good</span>

                                    </div>

                                    <div class="col-span-8 px-4">
                                        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                    </div>
                                    <div class="col-span-2">
                                        <span class="opacity-50">2333</span>

                                    </div>

                                </div>
                            </div>
                            <div>
                                <div class="grid grid-cols-12 justify-around items-center">

                                    <div class="col-span-2">
                                        <span>Average</span>

                                    </div>

                                    <div class="col-span-8 px-4">
                                        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                    </div>
                                    <div class="col-span-2">
                                        <span class="opacity-50">2333</span>

                                    </div>

                                </div>
                            </div>
                            <div>
                                <div class="grid grid-cols-12 justify-around items-center">

                                    <div class="col-span-2">
                                        <span>Poor</span>

                                    </div>

                                    <div class="col-span-8 px-4">
                                        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                                    </div>
                                    <div class="col-span-2">
                                        <span class="opacity-50">2333</span>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <section class="mt-10">
        <h1 class="py-5 text-black">Related Products</h1>

        <div class="flex justify-center flex-wrap">

                <div *ngFor="let item of relatedProducts">
                    <app-product-card [product]="item"/>
                </div>
        
        </div>
    </section>

</div>