<div class="box">

    <div class="grid grid-cols-6">

        <div class="col-span-3">
            <div class="flex items-center w-full">

                <img class="w-[5rem] h-[5rem] object-cover object-top" src="https://www.beyoung.in/api/cache/catalog/products/new_checked_shirt_image_9_12_2022/navy_blue_cotton_solid_shirts_for_men_base_19_10_2023_700x933.jpg"
                 alt="">
    
                 <div class="ml-5">
                    <p class="font-semibold text-lg">product title</p>
                    <p class="text-sm text-gray-400">Size: M</p>
                    <p class="text-sm text-gray-400">Color: blue</p>
    
                 </div>
    
            </div>
        </div>

      

        <div class="col-span-1">

            <p class="font-semibold text-lg">₹395</p>

        </div>
        <div class="col-span-2">
            <p class="font-semibold text-lg">Expected Delivery On Mar 05</p>
            <p class="text-sm">Your Item Has Been Delivered</p>
        </div>

    </div>

</div>
