<div class="mt-6">
    <div>
       <app-main-carousel />
    </div>
    <div>
        <div class="mr-5 ml-5 mt-5 bg-[#ffffff]">
            <app-product-slider title="Women Gowns" [products]="womenGowns" />
         </div>
       <div class="mr-5 ml-5 mt-5 bg-[#ffffff]">
          <app-product-slider title="Women Tops" [products]="womenTop" />
       </div>
       <div class="mr-5 ml-5 mt-5 bg-[#ffffff]">
        <app-product-slider title="Men Jeans" [products]="menJeans" />
     </div>
       <div class="mr-5 ml-5 mt-5 bg-[#ffffff]">
          <app-product-slider title="Men Kurtas" [products]="mensKurta" />
       </div>
       <div class="mr-5 ml-5 mt-5 bg-[#ffffff]">
          <app-product-slider title="Men Shoes" [products]="shoes" />
       </div>
 
    </div>
 </div>